Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
# assets
Content/Jongmyo/*
Content/Yeonkyung/*
Content/KoreanTraditionalMartialArts/*
Content/Fonts/*
Content/Audio/*
~$*.xlsx
